Source: asterisk4ucs-umc-music
Section: asterisk4ucs
Priority: optional
Maintainer: Tristan Bruns (Decoit GmbH) <bruns@decoit.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 univention-management-console-dev,
 python-all
Standards-Version: 3.5.2
XS-Python-Version: all

Package: asterisk4ucs-umc-music
Architecture: all
Depends: univention-management-console-server,
 sox,
 libsox-fmt-mp3
Description: Asterisk4UCS UMC module for music upload
 UMC module for music upload to an Asterisk4UCS member server
