Source: asterisk4ucs-umc-user
Section: asterisk4ucs
Priority: optional
Maintainer: Tristan Bruns (Decoit GmbH) <bruns@decoit.de>
Build-Depends: debhelper (>= 7.0.50~),
 univention-management-console-dev,
 python3-univention
Standards-Version: 3.5.2
XS-Python-Version: all

Package: asterisk4ucs-umc-user
Architecture: all
Depends: univention-management-console-server
Description: Asterisk4UCS UMC-Modul für benutzerseitige Einstellungen
 Dieses UMC-Modul erlaubt es Benutzern, ihre eigenen Telefone und Mailboxen
 selber zu konfigurieren.
