Source: asterisk4ucs-udm
Section: asterisk4ucs
Priority: optional
Maintainer: Tristan Bruns (Decoit GmbH) <bruns@decoit.de>
Build-Depends:
 debhelper (>= 7.0.50~),
 univention-config-dev,
 python-univention
Standards-Version: 3.5.2

Package: asterisk4ucs-udm
Architecture: all
Depends:
 univention-config-registry,
 univention-directory-manager-tools,
 shell-univention-lib (>> 1.0.1-1),
 asterisk4ucs-udm-schema (= ${source:Version}),
 ${misc:Depends},
 ${python:Depends}
Description: Asterisk4UCS: UDM-Modul
 Dieses Paket enthält das UDM-Modul von Asterisk4UCS.

Package: asterisk4ucs-udm-schema
Architecture: all
Depends:
 univention-config-registry,
 ${misc:Depends}
Description: Asterisk4UCS: LDAP-Schema für das UDM-Modul
 Dieses Paket sollte auf dem Master- und allen Backup-Domänenkontrollern
 installiert werden.
