Source: univention-management-console-module-asterisk
Section: asterisk4ucs
Priority: optional
Maintainer: Decoit GmbH <bruns@decoit.de>
Build-Depends: debhelper (>= 7.0.50~),
 python-support,
 univention-management-console-dev,
 python-all
Standards-Version: 3.5.2
XS-Python-Version: all

Package: univention-management-console-module-asterisk
Architecture: all
Depends: univention-management-console-server
Description: UMC module for Asterisk4UCS
 This package contains the UMC module for Asterisk4UCS
